root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Matches multiple files with brace expansion notation
# Set default charset
[*.{cpp,hpp}]
indent_style = space
indent_size = 4
